html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: "" "";
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

a img {
  border: none;
}

a {
  color: #006ac4;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
a:focus, a:active {
  outline: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

#header, #footer {
  width: 100%;
}
#header .max-width, #footer .max-width {
  margin: 0 auto;
  max-width: 1600px;
}
#header .min-width, #footer .min-width {
  overflow: hidden;
  display: inline-block;
  margin: 0 auto;
  min-width: 1100px;
  width: 95%;
}
#header .min-width, #footer .min-width {
  display: block;
}

#header {
  position: fixed;
  background: rgba(255, 255, 255, 0.85);
  border-top: 3px solid black;
  border-bottom: 1px solid #cccccc;
  padding: 20px 0;
  z-index: 20;
}
#header h1 {
  color: #cccccc;
  font-size: 20px;
  font-weight: normal;
}
#header h1:hover {
  color: #b3b3b3;
}
#header h1:hover a {
  border-bottom: 2px solid black;
}
#header h1:hover > span a {
  color: #aaaaaa;
  border-color: #aaaaaa;
}
#header h1:hover > span a:hover {
  color: #777777;
  border-color: #777777;
}
#header h1 a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
}
#header h1 > span {
  margin-left: 15px;
}
#header h1 > span a {
  color: #cccccc;
}
#header h1 .service-mark {
  font-size: 14px;
  position: relative;
  top: -4px;
  left: 1px;
}

#content {
  width: 100%;
  padding: 40px 0;
  padding-top: 110px;
}
#content .max-width {
  margin: 0 auto;
  max-width: 1600px;
}
#content .min-width {
  overflow: hidden;
  display: inline-block;
  margin: 0 auto;
  min-width: 1100px;
  width: 95%;
}
#content .min-width {
  display: block;
}
#content .padding {
  padding-right: 420.988px;
  width: auto;
}
#content .column {
  float: left;
  position: relative;
}
#content .column.primary {
  width: 100%;
}
#content .column.secondary {
  margin-right: -420.988px;
  width: 420.988px;
}
#content .column.primary .content {
  padding-right: 5%;
}
#content .column.primary h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -1px;
  margin-bottom: 50px;
}
#content .column.primary p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
#content .column.secondary h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
#content .column.secondary p {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 18px;
  padding-right: 10%;
}

#footer {
  background: #f4f4f4;
  border-top: 1px solid #cccccc;
  font-size: 12px;
  height: 120px;
  padding: 40px 0;
}
