@import "compass/utilities";

// Configuration
$direction: right !default;
$max-width: 1200px !default;
$min-width: 900px !default;

// Smashing Layout logic
$divine-proportion: $min-width / 1.62;
$width: 95%;
$sidebar-width: floor($min-width - $divine-proportion);
$negative-sidebar-width: -(ceil($sidebar-width));

@mixin smashing-layout($direction) {
  @include smashing-width;
  @include smashing-padding($direction);
  @include smashing-columns($direction); }

// Sets a div's width to behave like the width of +smashing-layout
// Assumes 2 inner wrapping div's .max-width and .min-width
@mixin smashing-width {
  width: 100%;
  .max-width {
    @include pie-clearfix;
    margin: 0 auto;
    min-width: $min-width;
    max-width: $max-width;
    width: $width; } }

// Used only in +smashing-layout
@mixin smashing-padding($direction) {
  .padding {
    @include pie-clearfix;
    padding-#{$direction}: $sidebar-width;
    width: auto; } }

// Used only in +smashing-layout
@mixin smashing-columns($direction) {
  .column {
    @if $direction == right {
      float: left; }
    @else if $direction == left {
      float: right; }
    position: relative;
    &.primary {
      width: 100%; }
    &.secondary {
      margin-#{$direction}: $negative-sidebar-width;
      width: $sidebar-width; } } }
