@import compass/utilities

// Configuration
$direction: right !default
$max-width: 1200px !default
$min-width: 900px !default

// Smashing Layout logic
$divine-proportion: $min-width / 1.62
$width: 95%
$sidebar-width: floor($min-width - $divine-proportion)
$negative-sidebar-width: -(ceil($sidebar-width))

=smashing-layout($direction)
  +smashing-width
  +smashing-padding($direction)
  +smashing-columns($direction)

// Sets a div's width to behave like the width of +smashing-layout
// Assumes 2 inner wrapping div's .max-width and .min-width
=smashing-width
  width: 100%
  .max-width
    +pie-clearfix
    margin: 0 auto
    min-width: $min-width
    max-width: $max-width
    width: $width

// Used only in +smashing-layout
=smashing-padding($direction)
  .padding
    +pie-clearfix
    padding-#{$direction}: $sidebar-width
    width: auto

// Used only in +smashing-layout
=smashing-columns($direction)
  .column
    @if $direction == right
      float: left
    @else if $direction == left
      float: right
    position: relative
    &.primary
      width: 100%
    &.secondary
      margin-#{$direction}: $negative-sidebar-width
      width: $sidebar-width