%h1
  :erb
    <a href="http://adamstacoviak.com/">Adam Stacoviak</a><span>passionate about all things <a href="http://gethandcrafted.com/">Handcrafted</a><span class="service_mark">&#8480;</span></span>