:markdown
  ## Smashing Sidebar Content
  
  Smashing Layout is a replication of [Smashing Magazine's](http://www.smashingmagazine.com/) layout [circa 2009](http://www.smashingmagazine.com/2009/10/31/smashing-magazines-redesign-and-smashing-network/).

  It was handcrafted by [Adam Stacoviak](http://adamstacoviak.com/) using the CSS meta-framework [Sass](http://sass-lang.com/) + [Compass](http://compass-style.org/).

  Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
  It is the star to every wand'ring bark, that looks on tempests and is never shaken; whose worth's unknown, although his height be taken. Oh, no, it is an ever fixed mark love alters not with his brief hours and weeks, I never writ, nor no man ever loved. Within his bending sickle's compass come; or bends with the remover to remove. Which alters when it alteration finds, but bears it out even to the edge of doom.